<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Confirmation Email</title>
  </head>
  <body>
    <div style="color: #444; line-height: 1.8em;">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
