<header class="page-header">
  <h2 class="page-title">
    Can't claim this username
  </h2>
</header>
<div class="page-content">
  <p>
    The username <strong><%= @username %></strong> is probably already migrated.
  </p>
</div>
