<header class="page-header">
  <h2 class="page-title">
    Can't claim username
  </h2>
</header>
<div class="page-content">
  <p>
    Something went wrong. The username <strong><%= @username %></strong> has already been migrated.
  </p>
</div>
