<header class="page-header">
  <h2 class="page-title">
    Your HEBorn account is ready
  </h2>
</header>
<div class="page-content">
  <p>
    There's nothing left to do, you're ready to go.</br>
      We hope you enjoy the game, which can be accessed at <a href="https://1.hackerexperience.com">1.hackerexperience.com</a>.<br/>
      Please be patient, and understand that this is a VERY EARLY access preview :) <br/>
  </p>
</div>
