<header class="page-header">
  <h2 class="page-title">
    Migrate to HEBorn
  </h2>
</header>
<div class="page-content">
  <p>
    Start the migration process by signing in your <a href="https://legacy.hackerexperience.com/">HE legacy</a> account and clicking the <strong>migrate</strong> button.
  </p>
</div>
