<div>
  <h2>You're almost ready!</h2>
  <p>We've sent a confirmation email to <%= @email %></p>
  <hr/>
  <small>
    <span>No message yet? Used the wrong email?</span>
    <span>Try migrating again after 48 hours</span>
  </small>
</div>
