<header class="page-header">
  <h2 class="page-title">
    You're almost ready!
  </h2>
</header>
<div class="page-content">
  <p>We've sent a confirmation email to <%= @email %></p>
  <small>
    <p>
      No confirmation email yet?<br/>
      It's possible to restart the migration process of unconfirmed accounts
      after 48 hours, so you should be able to retry:
      <strong>just wait the time and try migrating again</strong>.
    </p>
  </small>
</div>
