.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/logo.png");
  background-size: 519px 71px;
}

label {
  margin-top: 0.5rem;
  display: inline-block;
  width: 9rem;
}

.help-block {
  display: inline-block;
  margin-left: 8.25rem;
  font-size: 0.85rem;
}
